<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App</title>
</head>
<body>
    {{#each user_photos}}
        <img class="{{tags}}" data-original-image="{{url_o}}" src="{{url_q}}" >
    {{/each}}
</body>
</html>