.Main {
    padding: 0 0 0 1em;
}
button {
    border: 0;
    cursor: default;
    padding: 0;
    margin: 0;
}
img {
    width: 100px;
    height: 100px;
}
ul {
    padding: 0;
}
.search-status {
    margin-left: 2em;
}
.search-status,
.search-status dt,
.search-status dd {
    display: inline-block;
}

.reset-search {
    background-color: #87CEFA;
    border-radius: .2em;
    padding: .2em .9em;
}
.images-list li {
  display: inline-flex;
}
.images-list .hidden {
    display: none;
    height: 0;
    width: 0;
}