.Main {
    padding: 0 0 0 1em;
}
button {
    border: 0;
    cursor: default;
    padding: 0;
    margin: 0;
}
img {
    width: 100px;
    height: 100px;
}
ul {
    padding: 0;
}
.search-status {
    margin-left: 2em;
}
.search-status,
.search-status dt,
.search-status dd {
    display: inline-block;
}

.reset-search {
    background-color: #87CEFA;
    border-radius: .2em;
    padding: .2em .9em;
}

.images-list .hidden {
    height: 0;
    width: 0;
}
.image-container {
    display: inline-flex;
    opacity: 0;
    transition: 0.5s;

}
.image-container.hidden {
    display: none;
}
.fadeIn {
    opacity: 1;
      -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.fadeOutLeft {
opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
}
